<div>
    <h1>Details</h1>
    <div>
      <label>Title:
        <input [(ngModel)]="book.name" placeholder="title"/>
      </label>
    </div>
    <div>
      <label>Author:
        <input [(ngModel)]="book.author" placeholder="author"/>
      </label>
    </div>
    <div>
      <label>Image:
        <input [(ngModel)]="book.img"  placeholder="img source"/>
      </label>
    </div>
    <div>
        <label><span style="vertical-align: top;">Description:</span>
          <textarea rows="10" width="300" [(ngModel)]="book.description" placeholder=""></textarea>
        </label>
      </div>
    <button type="button" class="btn btn-primary"
    (click)="goBack()">go back</button>
    <button type="button" class="btn btn-primary"
    (click)="save()">save</button>
  </div>
